In [1]:
import pandas as pd
df = pd.read_excel('금천미트 구매이력 완료.xlsx')
df.head()

,작성자,부위1,부위2,부위3,부위4,부위5,부위6,부위7,부위8,부위9,부위10,부위11,부위12,부위13,부위14,부위15
0,024******,우빽립,홍두깨,삼겹양지,삼겹(암),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,029******,미박삼겹(암),홍두깨,양지머리외,채끝,등심,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,126*,목살,삼겹살,목심,등심,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,133*,미박삼겹(암),목심(암),차돌박이,앞다리살,잡뼈,사태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,145*,삼겹양지,늑간살,우목심,꼬리,LA갈비,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = df.iloc[:,1:]
df_dummy = pd.get_dummies(df)
df_dummy.head()

,부위1_LA갈비,부위1_갈매기,부위1_갈비,부위1_꼬리,부위1_늑간살,부위1_등갈비,부위1_등뼈,부위1_등심,부위1_로인립,부위1_목살,...,부위14_미박뒷다리,부위14_부채살,부위14_앞다리(암),부위14_항정,부위15_LA갈비,부위15_갈비,부위15_등갈비,부위15_등심,부위15_미박뒷다리,부위15_삼겹살(암)
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_items = apriori(df_dummy, min_support=0.01, use_colnames=True)
frequent_items.head()

    support   itemsets
0  0.016556   (부위1_갈비)
1  0.013245  (부위1_늑간살)
2  0.019868   (부위1_등심)
3  0.049669   (부위1_목살)
4  0.145695   (부위1_목심)

In [4]:
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.6)

In [7]:
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].sort_values(by='support', ascending=False)

,antecedents,consequents,support,confidence,lift
5,(부위2_업진)),(부위1_양지(치마),0.039735,1.000000,25.166667
6,(부위1_양지(치마),(부위2_업진)),0.039735,1.000000,25.166667
4,(부위2_목살),(부위1_삼겹살),0.029801,0.600000,5.490909
3,(부위3_목심(암)),(부위1_미박삼겹(암)),0.023179,0.777778,8.099617
7,(부위3_목심(암)),(부위2_목심),0.019868,0.666667,8.053333
20,(부위3_목심(암)),"(부위1_미박삼겹(암), 부위2_목심)",0.019868,0.666667,20.133333
19,"(부위1_미박삼겹(암), 부위2_목심)",(부위3_목심(암)),0.019868,0.600000,20.133333
18,"(부위3_목심(암), 부위2_목심)",(부위1_미박삼겹(암)),0.019868,1.000000,10.413793
17,"(부위3_목심(암), 부위1_미박삼겹(암))",(부위2_목심),0.019868,0.857143,10.354286
22,"(부위1_미박삼겹(암), 부위3_삼겹(암))",(부위2_목심(암)),0.016556,1.000000,15.894737
2,(부위7_앞다리살),(부위1_목심),0.016556,0.833333,5.719697
21,"(부위2_목심(암), 부위3_삼겹(암))",(부위1_미박삼겹(암)),0.016556,0.625000,6.508621
9,(부위2_양지(치마),(부위3_업진)),0.016556,1.000000,60.400000
10,(부위3_업진)),(부위2_양지(치마),0.016556,1.000000,60.400000
16,(부위14_갈비),(부위13_사태),0.013245,0.800000,48.320000
0,(부위6_삼겹살),(부위1_목살),0.013245,0.666667,13.422222
15,(부위13_사태),(부위14_갈비),0.013245,0.800000,48.320000
14,(부위9_항정),(부위5_안심),0.013245,0.800000,21.963636
13,(부위6_삼겹살),(부위5_삼겹),0.013245,0.666667,25.166667
12,(부위4_업진)),(부위3_양지(치마),0.013245,1.000000,75.500000
1,(부위4_등뼈),(부위1_목심),0.013245,0.666667,4.575758
8,(부위6_삼겹살),(부위2_삼겹양지),0.013245,0.666667,13.422222
11,(부위3_양지(치마),(부위4_업진)),0.013245,1.000000,75.500000